@model UserAccount

<form method="post">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Email</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td>@Model.Surname</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Отчество</td>
                    <td>@Model.Patronymic</td>
                </tr>
            </table>
        </div>
    </div>
    <br />

    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Действие
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-email="@Model.Email">Смена пароля</a></li>
            <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Edit">Редактирование данных</a>
            </li>
            <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Role">Права доступа</a>
            </li>
            <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Delete" >Удалить</a>
            </li>
            
            
        </ul>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="Delete" tabindex="-1" aria-labelledby="DeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteLabel">Вы действительно хотите удалить пользователя @Model.Email?</h5>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>@Model.Surname</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Отчество</td>
                        <td>@Model.Patronymic</td>
                    </tr>
                    @*<tr>
                        <td>Роль</td>
                        <td>
                            <select asp-for="@Model.Role"
                                    asp-items="@Html.GetEnumSelectList<RolesInMemoryRepository>()"
                                    class="form-control">
                            </select>
                        </td>
                    </tr>*@
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отменить</button>
                <a asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-email="@Model.Email" type="button" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<form method="post">
    <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="EditLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditLabel"> Редактирование данных пользователя @Model.Email?</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2">Email:</div>
                        <div class="col"><input type="text" name="Email" class="form-control" asp-for="@Model.Email" readonly></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">Фамилия:</div>
                        <div class="col"><input type="text" name="Surname" class="form-control" asp-for="@Model.Surname"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">Имя:</div>
                        <div class="col"><input type="text" name="Name" class="form-control" asp-for="@Model.Name"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">Отчество:</div>
                        <div class="col"><input type="text" class="form-control" asp-for="@Model.Patronymic"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2">Телефон:</div>
                        <div class="col"><input type="text" class="form-control" asp-for="@Model.Phone"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" asp-area="Admin" asp-controller="User" asp-action="Edit" type="button" class="btn btn-danger">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="Role" tabindex="-1" aria-labelledby="RoleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RoleLabel">Вы действительно хотите удалить пользователя @Model.Email?</h5>
            </div>
            <div class="modal-body">
                <
                <table class="table">
                    <tr>
                        <td>Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>@Model.Surname</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Отчество</td>
                        <td>@Model.Patronymic</td>
                    </tr>
@*                    <tr>
                        <td>Роль</td>
                        <td>

                            <select asp-for="@Model.Role"
                                    asp-items="@Html.GetEnumSelectList<ViewBag.Roles>()"
                            class="form-control">
                            </select>
                        </td>
                    </tr>*@
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отменить</button>
                <a asp-area="Admin" asp-controller="User" asp-action="SaveRole" asp-route-email="@Model.Email" type="button" class="btn btn-danger">Сохранить</a>
            </div>
        </div>
    </div>
</div>