@model EditUserViewModel

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <input type="hidden" name="Email" value="@Model.Email" />
        <h4>Редактирование данных пользователя</h4>
        <div class="col-6">
            <img class="card-img-top" src=@Model.ImagePath />
        </div>
        <div class="col-6">
            <div class="form-floating">
                <input class="form-control" type="text" name="Email" placeholder="Email пользователя" value="@Model.Email" asp-for="Email" readonly />
                <label asp-for="Email">Email</label>
            </div><br />
            <div class="form-floating">
                <input class="form-control" type="text" name="Surname" placeholder="Фамилия пользователя" value="@Model.Surname" asp-for="Surname" />
                <label asp-for="Surname">Фамилия пользователя</label>
                <span class="text-danger" asp-validation-for="Surname"></span>
            </div><br />
            <div class="form-floating">
                <input class="form-control" type="text" name="Name" placeholder="Имя пользователя" value="@Model.Name" asp-for="Name" />
                <label asp-for="Name">Имя пользователя</label>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div><br />
            <div class="form-floating">
                <input class="form-control" type="text" name="Patronymic" placeholder="Отчество пользователя" value="@Model.Patronymic" asp-for="Patronymic" />
                <label asp-for="Patronymic">Отчество пользователя</label>
                <span class="text-danger" asp-validation-for="Patronymic"></span>
            </div><br />
            <div class="form-floating">
                <input class="form-control" type="tel" name="Phone" placeholder="Телефон пользователя" value="@Model.Phone" asp-for="Phone" />
                <label asp-for="Phone">Телефон пользователя</label>
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div><br />

            <div class="form-group mb-3">
                <label class="input-group-text">Загрузить изображение</label>
                <input type="file" name="UploadFile" accept="image/*" class="form-control" />
            </div><br />

            <div>
                <button class="btn btn-primary"
                        asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-email="@Model.Email">Отменить</button>
                <button type="submit" class="btn btn-danger" 
                        asp-area="Admin" asp-controller="User" asp-action="EditData">Сохранить</button>
            </div><br />

        </div>



    </div>




















    <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="EditLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditLabel"> Редактирование данных пользователя @Model.Email?</h5>
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-2">Телефон:</div>
                        <div class="col"><input type="text" class="form-control" asp-for="@Model.Phone"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" asp-area="Admin" asp-controller="User" asp-action="Edit" type="button" class="btn btn-danger">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>